name: Build-and-Push

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: GHCR Login
        env:
          GHCR_PAT: ${{secrets.PODMAN_GCHR_PAT}}
        run: |
          podman login ghcr.io \
            -u ${{ github.actor }} \
            -p $GHCR_PAT

      - name: Backend Build + Push
        env:
          REPO_OWNER: olishah
        run: |
          podman build \
          -t ghcr.io/$REPO_OWNER/backend-container:latest \
          -f app/backend/Containerfile \
          app/backend

          podman push ghcr.io/$REPO_OWNER/backend-container:latest

      - name: Frontend Build + Push
        env:
          REPO_OWNER: olishah
        run: |
          podman build \
          -t ghcr.io/$REPO_OWNER/frontend-container:latest \
          -f app/frontend/Containerfile \
          app/frontend

          podman push ghcr.io/$REPO_OWNER/frontend-container:latest

      - name: Redis Build + Push
        env:
          REPO_OWNER: olishah
        run: |
          podman build \
          -t ghcr.io/$REPO_OWNER/redis-container:latest \
          -f app/backend/redis/Containerfile \
          app/backend

          podman push ghcr.io/$REPO_OWNER/redis-container:latest

      - name: Postgres Build + Push
        env:
          REPO_OWNER: olishah
        run: |
          podman build \
          -t ghcr.io/$REPO_OWNER/postgres-container:latest \
          -f app/backend/postgresql/Containerfile \
          app/backend

          podman push ghcr.io/$REPO_OWNER/postgres-container:latest
