name: Build-and-Push

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: GHCR Login
        env:
          GHCR_PAT: ${{secrets.PODMAN_GCHR_PAT}}
        run: |
          podman login ghcr.io \
            -u ${{ github.actor }} \
            -p $GHCR_PAT

      - name: Backend Build + Push
        run: |
          podman build -t ghcr.io/${{ github.repository_owner | lower }}/backend-container:latest -f app/backend/Containerfile .
          podman push ghcr.io/${{ github.repository_owner | lower }}/backendContainer:latest

      - name: Frontend Build + Push
        run: |
          podman build -t ghcr.io/${{ github.repository_owner | lower}}/frontend-container:latest -f app/frontend/Containerfile .
          podman push ghcr.io/${{ github.repository_owner | lower }}/frontendContainer:latest

      - name: Redis Build + Push
        run: |
          podman build -t ghcr.io/${{ github.repository_owner | lower}}/redis-container:latest -f app/backend/redis/Containerfile .
          podman push ghcr.io/${{ github.repository_owner | lower}}/redisContainer:latest

      - name: Postgres Build + Push
        run: |
          podman build -t ghcr.io/${{ github.repository_owner | lower}}/postgres-container:latest -f app/backend/postgres/Containerfile .
          podman push ghcr.io/${{ github.repository_owner | lower}}/postgres-container:latest
